.App{
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
  text-decoration: underline;
}
.qb {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-left: 3rem;
}

.name {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.qbImage{
  border-radius: 50%;
}

.team {
  height: 3rem;
  width: 3rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.statsButton {
  height: fit-content;
  width: fit-content;
  margin-top: 2rem;
  background-color: aliceblue;
  border-radius: .5rem;
}

.statsButton:hover {
  background-color: rgb(153, 201, 239);
  cursor: pointer;
}

.body {
  display: flex;
  flex-direction: row;
}